zmien numer w .h5 i .json
zmien numer w wykresach

## The Data

In [1]:

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import MinMaxScaler

import pylab
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import accuracy_score
from sklearn import ensemble
from sklearn import datasets
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error
import pickle
import warnings
warnings.filterwarnings("ignore")

In [2]:
import time

start = time.time()


    
plt.figure(facecolor='white')
plt.style.use('classic')
plt.ylim(-0.05,1.05)
plt.plot(y_test , X1, 'k.', label='$\mathit{experimantal}$')
plt.plot(test_predictions, X1, 'rx', label = '$\mathit{predicted}$')
plt.xlabel('$A [A * m ^{-2} ]$', fontsize=18)


plt.xlabel('$A [A * m ^{-2} ]$', fontsize=18)

plt.ylabel('$\eta [V]$',fontsize=20)    
plt.savefig('predictions_full_stack_1_case.png', dpi = 200)
plt.show()

In [3]:
dane = pd.read_csv('daneT800-1500K.csv', sep = ";")
array = dane.values
X = array[:,0:4]
X1 = array[:,5]

In [4]:
X

array([[8.0e+02, 2.0e-01, 2.0e+00, 3.0e+00],
       [8.0e+02, 2.0e-01, 2.0e+00, 3.0e+00],
       [8.0e+02, 2.0e-01, 2.0e+00, 3.0e+00],
       ...,
       [1.4e+03, 8.0e-01, 2.5e+01, 8.0e+00],
       [1.4e+03, 8.0e-01, 2.5e+01, 8.0e+00],
       [1.4e+03, 8.0e-01, 2.5e+01, 8.0e+00]])

In [5]:
dane.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
T,77616.0,1100.000000,200.001288,800.000000,900.000000,1100.000000,1300.000000,1400.000000
VF,77616.0,0.500000,0.200001,0.200000,0.300000,0.500000,0.700000,0.800000
Tr,77616.0,13.500000,6.922231,2.000000,7.750000,13.500000,19.250000,25.000000
l_tpb,77616.0,5.500000,1.707836,3.000000,4.000000,5.500000,7.000000,8.000000
E,77616.0,0.241622,0.217229,0.029615,0.100339,0.167297,0.307292,2.174071
i,77616.0,0.150000,0.094869,0.000000,0.060000,0.150000,0.240000,0.300000
Cd,77616.0,10057.806008,20500.200018,0.000000,80.596965,1420.647118,10104.607644,306611.420013

In [6]:
x_data = dane.drop(['Cd'],axis=1)
x_data

          T   VF  Tr  l_tpb         E     i
0       800  0.2   2      3  1.087036  0.00
1       800  0.2   2      3  1.087036  0.03
2       800  0.2   2      3  1.087036  0.06
3       800  0.2   2      3  1.087036  0.09
4       800  0.2   2      3  1.087036  0.12
5       800  0.2   2      3  1.087036  0.15
6       800  0.2   2      3  1.087036  0.18
7       800  0.2   2      3  1.087036  0.21
8       800  0.2   2      3  1.087036  0.24
9       800  0.2   2      3  1.087036  0.27
10      800  0.2   2      3  1.087036  0.30
11      800  0.2   2      4  0.941400  0.00
12      800  0.2   2      4  0.941400  0.03
13      800  0.2   2      4  0.941400  0.06
14      800  0.2   2      4  0.941400  0.09
15      800  0.2   2      4  0.941400  0.12
16      800  0.2   2      4  0.941400  0.15
17      800  0.2   2      4  0.941400  0.18
18      800  0.2   2      4  0.941400  0.21
19      800  0.2   2      4  0.941400  0.24
20      800  0.2   2      4  0.941400  0.27
21      800  0.2   2      4  0.941400  0.30
22      800  0.2   2      5  0.842014  0.00
23      800  0.2   2      5  0.842014  0.03
24      800  0.2   2      5  0.842014  0.06
25      800  0.2   2      5  0.842014  0.09
26      800  0.2   2      5  0.842014  0.12
27      800  0.2   2      5  0.842014  0.15
28      800  0.2   2      5  0.842014  0.18
29      800  0.2   2      5  0.842014  0.21
...     ...  ...  ..    ...       ...   ...
77586  1400  0.8  25      6  0.068393  0.09
77587  1400  0.8  25      6  0.068393  0.12
77588  1400  0.8  25      6  0.068393  0.15
77589  1400  0.8  25      6  0.068393  0.18
77590  1400  0.8  25      6  0.068393  0.21
77591  1400  0.8  25      6  0.068393  0.24
77592  1400  0.8  25      6  0.068393  0.27
77593  1400  0.8  25      6  0.068393  0.30
77594  1400  0.8  25      7  0.063320  0.00
77595  1400  0.8  25      7  0.063320  0.03
77596  1400  0.8  25      7  0.063320  0.06
77597  1400  0.8  25      7  0.063320  0.09
77598  1400  0.8  25      7  0.063320  0.12
77599  1400  0.8  25      7  0.063320  0.15
77600  1400  0.8  25      7  0.063320  0.18
77601  1400  0.8  25      7  0.063320  0.21
77602  1400  0.8  25      7  0.063320  0.24
77603  1400  0.8  25      7  0.063320  0.27
77604  1400  0.8  25      7  0.063320  0.30
77605  1400  0.8  25      8  0.059230  0.00
77606  1400  0.8  25      8  0.059230  0.03
77607  1400  0.8  25      8  0.059230  0.06
77608  1400  0.8  25      8  0.059230  0.09
77609  1400  0.8  25      8  0.059230  0.12
77610  1400  0.8  25      8  0.059230  0.15
77611  1400  0.8  25      8  0.059230  0.18
77612  1400  0.8  25      8  0.059230  0.21
77613  1400  0.8  25      8  0.059230  0.24
77614  1400  0.8  25      8  0.059230  0.27
77615  1400  0.8  25      8  0.059230  0.30

[77616 rows x 6 columns]

In [7]:
y_val = dane[['Cd']].as_matrix()

Tr_data = dane[['Tr']]
Tr_data

T_data = dane[['T']]

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scalerx = scaler.fit(x_data)
x_data1 = scaler.transform(x_data)


x_data1=pd.DataFrame(x_data1, columns=['T','VF',  'Tr','l_tpb','E',  'i'])
x_data

          T   VF  Tr  l_tpb         E     i
0       800  0.2   2      3  1.087036  0.00
1       800  0.2   2      3  1.087036  0.03
2       800  0.2   2      3  1.087036  0.06
3       800  0.2   2      3  1.087036  0.09
4       800  0.2   2      3  1.087036  0.12
5       800  0.2   2      3  1.087036  0.15
6       800  0.2   2      3  1.087036  0.18
7       800  0.2   2      3  1.087036  0.21
8       800  0.2   2      3  1.087036  0.24
9       800  0.2   2      3  1.087036  0.27
10      800  0.2   2      3  1.087036  0.30
11      800  0.2   2      4  0.941400  0.00
12      800  0.2   2      4  0.941400  0.03
13      800  0.2   2      4  0.941400  0.06
14      800  0.2   2      4  0.941400  0.09
15      800  0.2   2      4  0.941400  0.12
16      800  0.2   2      4  0.941400  0.15
17      800  0.2   2      4  0.941400  0.18
18      800  0.2   2      4  0.941400  0.21
19      800  0.2   2      4  0.941400  0.24
20      800  0.2   2      4  0.941400  0.27
21      800  0.2   2      4  0.941400  0.30
22      800  0.2   2      5  0.842014  0.00
23      800  0.2   2      5  0.842014  0.03
24      800  0.2   2      5  0.842014  0.06
25      800  0.2   2      5  0.842014  0.09
26      800  0.2   2      5  0.842014  0.12
27      800  0.2   2      5  0.842014  0.15
28      800  0.2   2      5  0.842014  0.18
29      800  0.2   2      5  0.842014  0.21
...     ...  ...  ..    ...       ...   ...
77586  1400  0.8  25      6  0.068393  0.09
77587  1400  0.8  25      6  0.068393  0.12
77588  1400  0.8  25      6  0.068393  0.15
77589  1400  0.8  25      6  0.068393  0.18
77590  1400  0.8  25      6  0.068393  0.21
77591  1400  0.8  25      6  0.068393  0.24
77592  1400  0.8  25      6  0.068393  0.27
77593  1400  0.8  25      6  0.068393  0.30
77594  1400  0.8  25      7  0.063320  0.00
77595  1400  0.8  25      7  0.063320  0.03
77596  1400  0.8  25      7  0.063320  0.06
77597  1400  0.8  25      7  0.063320  0.09
77598  1400  0.8  25      7  0.063320  0.12
77599  1400  0.8  25      7  0.063320  0.15
77600  1400  0.8  25      7  0.063320  0.18
77601  1400  0.8  25      7  0.063320  0.21
77602  1400  0.8  25      7  0.063320  0.24
77603  1400  0.8  25      7  0.063320  0.27
77604  1400  0.8  25      7  0.063320  0.30
77605  1400  0.8  25      8  0.059230  0.00
77606  1400  0.8  25      8  0.059230  0.03
77607  1400  0.8  25      8  0.059230  0.06
77608  1400  0.8  25      8  0.059230  0.09
77609  1400  0.8  25      8  0.059230  0.12
77610  1400  0.8  25      8  0.059230  0.15
77611  1400  0.8  25      8  0.059230  0.18
77612  1400  0.8  25      8  0.059230  0.21
77613  1400  0.8  25      8  0.059230  0.24
77614  1400  0.8  25      8  0.059230  0.27
77615  1400  0.8  25      8  0.059230  0.30

[77616 rows x 6 columns]

x_data = pd.concat([T_data, Tr_data, x_data], axis =1)
x_data

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x_data,y_val,test_size=0.3,random_state=101)
X_train1, X_test1, y_train1, y_test1 = train_test_split(x_data1,y_val,test_size=0.3,random_state=101)

In [11]:
X_test.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
T,23285.0,1100.339274,200.352648,800.000000,900.000000,1100.000000,1300.000000,1400.000000
VF,23285.0,0.502061,0.200223,0.200000,0.300000,0.500000,0.700000,0.800000
Tr,23285.0,13.498432,6.910238,2.000000,8.000000,13.000000,19.000000,25.000000
l_tpb,23285.0,5.506592,1.712202,3.000000,4.000000,6.000000,7.000000,8.000000
E,23285.0,0.242198,0.219553,0.029615,0.100117,0.166712,0.307292,2.174071
i,23285.0,0.149603,0.094568,0.000000,0.060000,0.150000,0.240000,0.300000

In [12]:
X_test1 = X_test.as_matrix()

In [13]:
X_tst = scalerx.inverse_transform(X_test1)
X_tst = pd.DataFrame(X_tst)
X_tst.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
0,23285.0,661003.564527,120211.588910,480800.000000,540800.000000,660800.000000,780800.000000,840800.000000
1,23285.0,0.501237,0.120134,0.320000,0.380000,0.500000,0.620000,0.680000
2,23285.0,312.463947,158.935463,48.000000,186.000000,301.000000,439.000000,577.000000
3,23285.0,30.532961,8.561012,18.000000,23.000000,33.000000,38.000000,43.000000
4,23285.0,0.548998,0.470822,0.093123,0.244313,0.387122,0.688589,4.691815
5,23285.0,0.044881,0.028370,0.000000,0.018000,0.045000,0.072000,0.090000

In [14]:
dane.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
T,77616.0,1100.000000,200.001288,800.000000,900.000000,1100.000000,1300.000000,1400.000000
VF,77616.0,0.500000,0.200001,0.200000,0.300000,0.500000,0.700000,0.800000
Tr,77616.0,13.500000,6.922231,2.000000,7.750000,13.500000,19.250000,25.000000
l_tpb,77616.0,5.500000,1.707836,3.000000,4.000000,5.500000,7.000000,8.000000
E,77616.0,0.241622,0.217229,0.029615,0.100339,0.167297,0.307292,2.174071
i,77616.0,0.150000,0.094869,0.000000,0.060000,0.150000,0.240000,0.300000
Cd,77616.0,10057.806008,20500.200018,0.000000,80.596965,1420.647118,10104.607644,306611.420013

params = {'n_estimators': 300, 'max_depth': 9, 'min_samples_split': 4,
          'learning_rate': 0.3, 'loss': 'huber'}
clf = ensemble.GradientBoostingRegressor(**params)

clf.fit(X_train, y_train)
mse = mean_squared_error(y_test, clf.predict(X_test))
print("MSE: %.4f" % mse)

from sklearn.metrics import mean_absolute_error
ab = mean_absolute_error(y_test, clf.predict(X_test))

print("Testing set Mean Abs Error= %s" %ab)

for j, y_pred in enumerate(clf.staged_predict(X_test)):
    test_scores = clf.zero_one_loss(y_test, y_pred)
    print(y_pred)

from sklearn.model_selection import learning_curve
train_sizes, train_scores, test_scores = learning_curve(GradientBoostingRegressor(), X_train, y_train, cv=9, train_sizes = np.linspace(0.1, 1.0, 50))
train_scores_mean = np.mean(train_scores, axis=1)
train_scores_std = np.std(train_scores, axis=1)
test_scores_mean = np.mean(test_scores, axis=1)
test_scores_std = np.std(test_scores, axis=1)
plt.figure(figsize=(10,5))
plt.figure(facecolor='white')
plt.style.use('classic')
plt.xlabel("Epochs")
plt.ylabel("Score")
plt.plot(train_sizes, 1- train_scores_mean, '-', color="r",
             label="Training score")
plt.plot(train_sizes, 1 - test_scores_mean, '-', color="g",
             label="Test score")

plt.legend(loc="best")
plt.plot()

In [ ]:
from sklearn.model_selection import learning_curve
from sklearn.metrics import mean_absolute_error
n_estimators = 500
max_depth = 9
min_samples_split = 4
learning_rate = 0.3
loss = 'huber'
n_estimators1 = 500
max_depth1 = 9
min_samples_split1 = 4
learning_rate1 = 0.3
loss1 = 'huber'
    
parameters1 = {'n_estimators': n_estimators, 'max_depth': max_depth, 'min_samples_split': min_samples_split,
          'learning_rate': learning_rate, 'loss': loss}
parameters2 = {'n_estimators': n_estimators1, 'max_depth': max_depth1, 'min_samples_split': min_samples_split1,
          'learning_rate': learning_rate1, 'loss': loss1}
estimator1 = GradientBoostingRegressor(n_estimators=n_estimators, max_depth=max_depth, learning_rate=learning_rate, 
                                      min_samples_split=min_samples_split, loss=loss)
estimator2 = GradientBoostingRegressor(n_estimators=n_estimators1, max_depth=max_depth1, learning_rate=learning_rate1, 
                                      min_samples_split=min_samples_split1, loss=loss1)
clf1 = ensemble.GradientBoostingRegressor(**parameters1)
clf2 = ensemble.GradientBoostingRegressor(**parameters2)
clf1.fit(X_train1, y_train1)
clf2.fit(X_train, y_train)

ab1 = mean_absolute_error(y_test, clf1.predict(X_test1))

ab2 = mean_absolute_error(y_test, clf2.predict(X_test))

train_sizes1, train_scores1, test_scores1 = learning_curve(estimator1, X_train1, y_train1, cv=9, train_sizes = np.linspace(0.1, 1.0, 20))
train_sizes2, train_scores2, test_scores2 = learning_curve(estimator2, X_train, y_train, cv=9, train_sizes = np.linspace(0.1, 1.0, 20))

print("MAE: %.4f" % ab1)
print("MAE: %.4f" % ab2)

In [ ]:
def plot_history(train_sizes1, train_scores1, test_scores1, train_sizes2, train_scores2, test_scores2):
    
    #train_sizes1, train_scores1, test_scores1, train_sizes2, train_scores2, test_scores2  = func()
    #
    
    
    train_scores_mean1 = np.mean(list(train_scores1), axis=1)
    
    test_scores_mean1 = np.mean(list(test_scores1), axis=1)
   
    train_scores_mean2 = np.mean(list(train_scores2), axis=1)
    
    test_scores_mean2 = np.mean(list(test_scores2), axis=1)
    
    
    
    plt.style.use('classic')
    plt.figure(figsize=(10,5), facecolor='white')
    plt.xlabel("Epochs", fontsize = 15)
    plt.ylabel("Średni błąd", fontsize = 15)
    plt.plot(list(train_sizes1),1 - train_scores_mean1, '--', color="b",
                 label="Dane uczące model ML BGR nr. 1")
    plt.plot(list(train_sizes1),1 - test_scores_mean1, '-', color="g",
                 label="Dane walidacyjne model ML BGR nr. 1")
    plt.plot(list(train_sizes2), 1 - test_scores_mean2, '-', color="r",
                 label="Dane walidacyjne model ML BGR nr. 2")
    plt.plot(list(train_sizes2), 1 - train_scores_mean2, '--', color="k",
                 label="Dane uczące model ML BGR nr. 2")
    
    plt.legend(['Dane uczące model ML BGR nr. 1', 'Dane walidacyjne model ML BGR nr. 1'
               , 'Dane uczące model ML BGR nr. 2', 'Dane walidacyjne model ML BGR nr. 2'], loc = 2, frameon= True)
    
    plt.grid(True)
             
    

    plt.legend(loc="best")
    
    plt.plot()

In [ ]:
plot_history(train_sizes1, train_scores1, test_scores1, train_sizes2, train_scores2, test_scores2)
plt.savefig('C:\\Users\\Ola\\Desktop\\praca magisterska\\wykresy/porownanieGBR_11.png')

In [ ]:
def plot_importance (n_estimators, max_depth, min_samples_split,learning_rate, loss, 
           n_estimators1, max_depth1, min_samples_split1, learning_rate1, loss1):
    objects = ('T', 'VF', 'Tr', 'l_tpb', 'E', 'i')
    y_pos = np.arange(len(objects))
    performance1 = clf1.feature_importances_*100
    performance2 = clf2.feature_importances_*100
    plt.style.use('classic')
    plt.figure(figsize=(10,5), facecolor='white')
    bar_width = 0.35
    plt.bar(y_pos, performance1, bar_width, alpha=1, color = 'b', label = 'Model ML GBR nr. 1')
    plt.bar(y_pos+bar_width, performance2, bar_width, alpha=1, color = 'g', label = 'Model ML GBR nr. 2')
    plt.xticks(y_pos+bar_width/2, objects)
    plt.ylabel('Istotność', fontsize ='15')
    plt.title('Istotność atrybutów zbioru danych', fontsize = '20')
    plt.legend()
    plt.tight_layout()
    plt.show()
    
    print (clf1.feature_importances_*100, clf2.feature_importances_*100)

In [ ]:
plot_importance (n_estimators, max_depth, min_samples_split,learning_rate, loss, 
           n_estimators1, max_depth1, min_samples_split1, learning_rate1, loss1)
plt.savefig('C:\\Users\\Ola\\Desktop\\praca magisterska\\wykresy/istotosc_atrybotow_zbioru_skalowanie.pdf')


## porównanie

In [ ]:

import pickle

pkl_filename = "C:\\Users\\Ola\\Desktop\\praca magisterska\\wykresy/model21.pkl"  
with open(pkl_filename, 'wb') as file:  
    pickle.dump(clf, file)
pkl_filename = "C:\\Users\\Ola\\Desktop\\praca magisterska\\wykresy/model22.pkl"  
with open(pkl_filename, 'wb') as file:  
    pickle.dump(clf1, file)